
<% if (is_tag() && site.tags.length) { %>
  <%- partial('_partial/tag') %>
<% } else if (is_category() && site.categories.length) { %>
  <%- partial('_partial/category') %>
<% } else if (theme.tags_overview && site.tags.length) { %>
  <%- partial('_partial/tag') %>
<% } %>
<div id="archive">
  <h1><%= page_title() %></h1>
  <ul class="post-list">
    <% var year = 0 %>
    <% var change = false %>
    <% var field_sort = theme.archive.sort_updated ? 'updated' : 'date' %>
    <% var posts = is_archive() ? site.posts: page.posts %>
    <% posts.sort(field_sort, 'desc').each(function(post) { %>
      <% var itemYear = date(post[field_sort], 'YYYY') - 0 %>
      <% change = year !== itemYear %>
      <% year = change ? itemYear : year %>
      <% if (change) { %>
        <h2><%= year %></h2>
      <% } %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
</div>
